        *{
        
            margin: 0 2%;
            text-decoration: none;
            list-style: none;
            box-sizing: border-box;

        }
        body{
            font-family: 'Poppins', sans-serif; 
        
        }
        /* HEDER*/
        nav{
        height:80px; 
        width:100%;

        }
        .btn{
            background-color: black;
            color: white;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            width: 100%;
            height: 100px;
            padding: 0 20px;
            outline: 0px;
            margin-left: 0px;
            margin-right: 0px
        }
        label.logo{
            font-size: 30px;
            font-weight: bold;
            color: black;
            padding:0px 90px;
            line-height: 30px;
            padding-left: 0px;
            margin-left: 0px;
            padding-right: 0px;
            margin-right: 0px;
            
        }
        nav ul{
            float:right;
            margin-right:4Opx;

        }
        nav li {
            display: inline-block;
            margin: 0 10px;
            line-height: 2px;
            padding: 5px 40px;
        }
        nav a{
            color: black;
            font-size: 18px;
            border-radius: 2px;
        }
        nav a:hover{
        background-color: yellowgreen ;
        }

        /* pour  backround 1*/
        .d1b1{
            
            background-color: black;
            width: 100%;
            height: 230px;
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 20px;

            line-height: 60px;
            float: left;
            width: 100%;
            position: relative;
            margin:30px;
        
            width: 1654px;

            
        } 

        .dad1{
            width: 48%;
            line-height: 80px;
            
        }

        .dad1 h1,h4{
            color:white;
            align-items: center;
            font-size: 25px;
            line-height: 40px;
        
            
        }
        .dad1 h4{
            line-height: 37px;
            font-size: 14px;

        }
        h4 {
            line-height: 20px;
        }
        /* pour input de backround 1*/
        .dad1 .sel1b1{
            width:  390px;
            height: 40px;
            color: grey;
            border-radius: 5px;
        }
        #rech span {
            content: "\260C";
        }
        /* pour submit de backround 1*/
        .dad1 .sub1b1{
            width:  230px;
            height: 40px;
            color:white;
            border-radius: 5px;
            font-weight: bolder;
            background: linear-gradient(to right,#f08e55,#A831A5);
            border: none;
        }
        .dbd1{
            width: 48%;
            float: right;
            position: absolute;
            right: 0;
            top: 0;
            
        }
        .imgh{
            width: 400px;
            height:360px;
        margin-top: -30px;
        margin-left: 90px;
        }
        /* pour les image company d2*/
        .d2company{
                
                align-items: center;
                justify-content: space-between;
                margin:0 30px;
                margin-top: 370px;
                margin-bottom: 30px;
                display: flex;
                width: 100%;
                height: 100px;
            
        }
        .imrig{
            position: relative;
        }
        /* pour les image left center reight  d2*/

        .d3get{
            width: 100%;
            height: 600px;
            margin: auto 30px;
            display: flex;
            padding-top: 20px ;
            padding-bottom: 20px ;
            height: 618px;
            width: 1662px;
            margin-top: 20px;
            border-bottom-width: 20px;
            margin-bottom: 24px;
        }
        .d3get-conter{

            margin-left: 10px;
            padding: 10px;
            width: 500px;
            height: 540px;
        margin: 0px;
        }
        .CHECK_MARK {
            content: "\2713";
            height: 10px;
            height: 15px;
            color: white;
            border-style:  solid ;
            border-color: black;
            border-radius: 100%;
            background: linear-gradient(to right,#f08e55,#A831A5);
            border:none ;
            margin-left: 0px;
            margin-right: 0px;
        }
        #argent{
            background-color: yellow;
            border-radius: 60%;
            border:black;
            outline-color: forestgreen;
        }
        .sub1b2{
            width:  300px;
            height: 40px;
            color:white;
            border-radius: 5px;
            font-weight: bolder;
            background: linear-gradient(to right,#f08e55,#A831A5);
            border: none;
        }


        .d3get-left img {
            width: 600px;
            height: 560px;
            padding: 10px;
        
            width: 489px;    
        }
        .d3get-right img{
            width: 600px;
            height: 560px;
            padding: 10px;

            width: 489px;

        }

        .d3get-conter h2{
            text-align: center;
            color: black;
            line-height:8px;
            font-size: 24px;
            margin-left: 5px;
            margin-right: 5px;

            width: 393px;
            margin-top: 50px;
            margin-bottom: 50px;

        }
        .d3get-conter p, h2 {
        padding: 20px 0;
            font-size: 14px;
            
            margin-left: 31px;
            padding-top: 0px;
            padding-bottom: 0px;

        }

        .d3get-conter input{
            display: block;
            margin: 30px  auto;
        }

        /************************************************************* pour backound 2************************************************************/
        .d4b2{
        
            background-color: black;
            width: 100%;
            height: 350px;
            padding: 10px;
            display: flex;
            margin: 30px 30px;
            
        } 
        .dad4{
            width: 48%;
            line-height:10px;
            float: left;
        
            padding: 10px;
            align-items: center;
            
        }

        .dad4 h1{
            color:white;
            align-items: center;
            font-size: 37px;
            line-height: 35px;
        
        }
        .dad4 h2{
            color:white;
            font-size: 18px;
        }
        h2{
            line-height: 20px;
            padding-left: auto;
        }
        .coeur{
                content: "\2764";
                color: red;
                font-size: 1.4em;
            }
        .faite{
            color:yellow;
            font-size: 1.4em;
        }


        .CHECK_MARK_2{
            content: "\2713" ;
            font-size: 1.6em;
            font-weight: bold;
            color:black;
            border-style:  solid ;
            border-color: black;
            border-radius: 100%;
            background: white;
            border:none ;
            
        }

        .dad4 .sub3b2{
            width:  340px;
            height: 55px;
            color:black;
            font-weight: bolder;
            border-radius: 6px;
            padding-left: 10px;
        
        }

        .dbd4 img{
            float: right;
            position: relative;
            width: 45%;
            height: 500px;
            bottom: 70px;
            right: 100px;
        }
        .dbd4{
            width: 48%;
            width: 48%;
            line-height: 80px;
            float: left;
            padding: 10px;
            align-items: center;
        
        }

        .dad4 .sub2b2{
            width:  200px;
            height: 55px;
            color:white;
            border-radius: 5px;
            font-weight: bolder;
            background: linear-gradient(to right,#f08e55,#A831A5);
            border: none;
            margin-left: -18px;
        }


        /***********************************************************pour grid*************************************************************************************/

        .gallery{
        
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: auto auto;
            margin-top: 200px;
            gap:20px;

        }


        .grid1{

            grid-column: 1/2;
            grid-row: 1/2;
            width: 93%;
            height: 80%;
        }
        .grid2{
            
            grid-column: 2/3;
            grid-row: 1/3; 
            width: 95%;
            height: 93%;

        }
        .grid3{
        
            grid-column: 3/4;
            grid-row: 1/2; 
            width: 84%;
            height: 95%;

        }
        .grid4{
        
            grid-column: 4/5;
            grid-row: 1/2; 
            width: 80%;
            height: 74%;

        }

        .grid5{
            grid-column: 1/2;
            grid-row: 2/3; 
            width: 80%;
            height: 70%;
        
            

            
            

        }
        .grid6{
            grid-column: 3/4;
            grid-row: 2/3; 
            width: 84%;
            height: 95%;

        }
        .grid7{
            grid-column: 4/5;
            grid-row: 2/3; 
            width: 75%;
            height:95%;

        }
        /************* footer************/
       .contfooter{
         width:100%;
         margin: 30px auto;
         display: flex;
         background-color: black;
         color:white;
        
        }
        .contfooter a{
            color:white
        }
    
        /*********************************************************** responsive*****************************************/
        @media (max-width :850px) {

            body{
            width: 426px;
            margin-left: 0px;
            border-radius: 50px;
            margin: 0 2%;
        /**************************** header***********************************/
            }
            .logo{

                margin-right: 100px;
                background-color: aqua;
                border-radius: 15px;
                margin-bottom: 20px;
                padding-left: 52px;
                padding-right: 45px;
            
            
            }
            nav{
            width: 1363px;
            flex-direction: column;
            margin: auto;
            margin-bottom: 20px;
           


            }
            .btn{
                
            margin-left: 28px;
            padding-left: 0px;
            padding-right: 0px;
            }
            .log_in{
                margin-bottom: 15px;
            }
        /************************ backround1************************************/
            .d1b1{
                margin-right: 0px;
                padding-bottom: 77px;
                padding-left: 0px;
                margin-top: 17px;
                width: 382px;
                margin-left: 2px;
                padding-bottom: 66px;
                margin-left: 2px;
                height: 480px;
                padding-top: 26px;
                flex-wrap: wrap;
            }
            .imgh{
                display: none;
            }
            .dad1{
                width: 174.359;
                height: 77px;
            }

            .dad1 h1{
            width: 308px;
            margin-left: 0px;
            } 
            .HN1{   
            margin-left: 0px;
            width: 339px;
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
            padding-left: 25px;
            }
            .HN2{
            width: 320px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            padding-left: 25px;
                }
            .dad1 .sel1b1{
            width: 252px;
            padding-left: 49px;
            margin-left: 58px;
            margin-right: 58px;

            } 
            .dad1 .sub1b1{
                margin-left: 95px;
                width: 152px;
            }
        /**********************image company ************************/
            .d2company{
                flex-wrap: wrap;
                justify-content: baseline;
                width: 150px;
                margin-bottom: 359px;
            }
            .imc{
                width: 188px;
            }
            .d3get{
            flex-direction: column;
            margin-left: 0px;
            width: 347px;
            height: 485px;
            padding-top: 0px;
            margin-top: 10px;


            }
            .d3get .d3get-leftim{
                width: 369px;
                height: 408px;
                margin-right: 29px;
                margin-left: 0px;
                padding-left: 0px;
                width: 339px;

            }
            .d3get .d3get-conter{
                
            
            margin-left: 0px;
            padding-right: 0px;
            padding-top: 0px;
            padding-left: 0px;
            padding-bottom: 0px;
            margin-bottom: 18px;
            margin-top: 10px;
            width: 394px;

                }
                .d3get-conter h2{
            
            margin-top: 0px;     
            margin-bottom: 11px;
            margin-top: 20px;

                }
            
            .d4b2{ 
            margin-top: 412px;

            }
        
        .d3get .d3get-rightim{
                width: 369px;
                height: 408px;
                margin-right: 29px;
                margin-left: 0px;
                padding-left: 0px;
                width: 339px;

        }     
        /***********************backround 2**************************/   
            .d4b2{
                margin-top: 911px;    
                margin-left: 30px;
                width: 475px;
                height: 313px;
            }
            .dad4{
                width: 432px;
                padding-left: 0px; 
            }
            .dbd4 img{
            display: none ;
                }
                .dbd4 img{
            display: none ;
                }
            .dbd4 {
            display: none ;
                        }      
            .dad4 h1{
                width: 415px;
                margin-left: 0px;    
                height: 73px;
                font-size: x-large;

            }
            .dad4 h2{
            font-size: unset;
            width: 421px;
            margin-left: 0px;

            }
            .dad4 .sub3b2{
            padding-left: 0px;
            padding-right: 0px;
            margin-left: 39px;
            width: 280px;
            height: 48px;
            }
            .CHECK_MARK_2{    
            width: 0px;
            height: 17px;
            margin-left: 0px;
            margin-right: 0px;
            font-size: medium;
            }
            .dad4 .sub2b2{
            margin-left: 98px;
            width: 138px;
            height: 42px;
            margin-top: 0px;
            }

        /*************************** image grid******************************/

        .gallery{
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        align-content: stretch;
        width: 501px;
        margin-right: 18px;
        width: 443px;
        margin-left: 20px;
        gap: 2px;

        }
        .grid2{
            height: 383px;
            width: 289px;
            margin-left: 65px;
        }
        .grid7{
            margin-left: 61px;
            height: 263px;
            width: 288px;
        }
        
     /***********************************footer************************************/
        .contfooter{
            width: 100%;
            flex-direction: column;
            justify-content: center;
        }
        .contfooter .d5fh{
            font-size: smaller;
            width: 100%;
        }
        }
@media screen and (max-width:1024px) and (min-width:850px){

.d1b1{
    width: 100%;
    flex-direction: column;
    height: 413px;
    justify-content: center;
    padding: 0% 140px;
    margin-top: 26px;
    font-size: inherit;


}
.imgh{
    display: none;
}
.d1b1.h4{
    font-size: smaller;
    flex-wrap: wrap;

}
.sel1b1{ 
    width: 283px;

}
.sub1b1{
    width: 162px;
    margin-left: 71px;
}


}